<div class="section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="about">
<div class="row">
<div style="margin:0 auto !important;" class="profile-card col-10 col-sm-9 col-md-5 col-lg-4 col-xl-3">
  <img src="./imgs/img_avatar.jpg" alt="Ridha" style="width:100%">
  <h1>Hamza Amdouni</h1>
  <p class="title">Licence Nabeul Iset</p>
  <p>Carthage University</p>
  <a href="#"><i class="fas fa-globe"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  <a href="#"><i class="fab fa-facebook-square"></i></a>
  <p><button id="rmcontact">Contact</button></p>
</div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="overflow:hidden;width: 700px;height: 440px;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=ISET%20Nabeul%2C%20Tunisie+(ISET%20NABEUL)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div><small><a href="https://embedgooglemaps.com/es/">embedgooglemaps ES</a></small></div><div><small style="color:#999;"><a href="http://www.iset.rnu.tn">ISET Web Site</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
</div> 
 
</div>
