<br>
<div class="section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="contact">
  <div class="chip">
	<img src="./imgs/img_avatar.jpg" alt="Person" width="96" height="96">
	Hamza Amdouni
  </div>
</div>