<title>Smart Test | <%= page %></title>
<link rel="icon" href="./imgs/logo.png" type="image/png"> 
<meta charset="UTF-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="public, max-age=86400">
<link rel="stylesheet" defer href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link defer rel="stylesheet" type="text/css" href="./css/index.css">
