<div class="section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="home">
	<div id="hero-text">
		<h1 style="color:#1B4DA0 !important">Smart Test</h1>
		<br>
		<div style="color:#00CCFF !important" id="tri"><a href="#features"><span></span></a></div>
	</div>
</div>
