<header id="home">
  <nav style="background:#00CCFF" id="navbar-scroll" class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href="/">
	  <div id="logo">
		<i id="cloud" class="fas fa-cloud fa-2x"></i>
		<i id="power" class="fas fa-bolt fa-1x"></i>
		smarTTest
	  </div>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" href="#home"><i class="icon fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#features"><i class="icon fas fa-list-alt"></i> Features</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#technology"><i class="icon fab fa-whmcs"></i> Technology</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#partners"><i class="icon fas fa-handshake"></i> Partners</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#about"><i class="icon fas fa-info-circle"></i> About</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#contact"><i class="icon fas fa-envelope-square"></i> Contact</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#site-map"><i class="icon fas fa-sitemap"></i> Site Map</a>
		</li>
	  </ul>
	  <span class="navbar-text" data-toggle="modal" data-target="#login">
		<span><i style="width: 20px;" class="fas fa-sign-in-alt"></i> Console</span>
	  </span>
	</div>
  </nav>
  <div class="progress-container">
	<div class="progress-bar" id="myBar"></div>
  </div>
</header>
