<div class="section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="partners">
<div class="card text-center">
  <div class="card-header">
	<i class="fas fa-handshake"></i> Partners
  </div>
  <div class="card-body">
	<h5 class="card-title">Special title treatment</h5>
	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	<img width="100%" src="./imgs/iset-logo.png" alt="Iset rades logo">
	<!--<img width="100%" src="./imgs/tt-logo.png" alt="TunisieTransfo logo">-->
	<a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
