<div class="section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="technology">
<div id="tech-used">
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/html-logo.png" alt="Card image cap">
	<div class="card-body">
	  <p class="card-text">Hypertext Markup Language is the standard markup language for creating web pages and web applications. With Cascading Style Sheets and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web.</p>
	  <small class="text-muted">Developed by: W3C &amp; WHATWG</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: 1993</small>
	</div>
	<div class="techPercent" id="html"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/css-logo.png" alt="CSS Card image cap">
	<div class="card-body">
	  <p class="card-text">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language. The language can be applied to any XML document, including plain XML, SVG and XUL.</p>
	  <small class="text-muted">Developed by: H?kon Wium Lie; Bert Bos; World Wide Web Consortium</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: December 17, 1996</small>
	</div>
	<div class="techPercent" id="css"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">  
	<img class="card-img-top" src="./imgs/javascript-logo.png" alt="Javascript Card image cap">
	<div class="card-body">
	  <p class="card-text">JavaScript, often abbreviated as JS, is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm. <br>
	  <small class="text-muted">Developed by: Netscape Communications Corporation, Mozilla Foundation, Ecma International</small></p>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: December 4, 1995</small>
	</div>
	<div class="techPercent" id="javascript"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/python-logo.png" alt="Python Card image cap">
	<div class="card-body">
	  <p class="card-text">Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace.</p>
	  <small class="text-muted">Developed by: Guido van Rossum</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: 1990</small>
	</div>
	<div class="techPercent" id="python"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/firebase-logo.png" alt="Firebase Card image cap">
	<div class="card-body">
	  <p class="card-text">Firebase is a mobile and web application development platform developed by Firebase, Inc. in 2011, then acquired by Google in 2014. Formerly known as Google Cloud Messaging (GCM), Firebase Cloud Messaging (FCM) is a cross-platform solution for messages and notifications for Android, iOS, and web applications.</p>
	  <small class="text-muted">Developed by: Google</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: September 2011</small>
	</div>
	<div class="techPercent" id="firebase"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/nodejs-logo.png" alt="NodeJs Card image cap">
	<div class="card-body">
	  <p class="card-text">Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side. Historically, JavaScript was used primarily for client-side scripting, in which scripts written in JavaScript are embedded in a webpage's HTML and run client-side by a JavaScript engine in the user's web browser.</p>
	  <small class="text-muted">Developed by: Node.js Developers, Joyent, contributors</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: May 27, 2009</small>
	</div>
	<div class="techPercent" id="nodejs"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/jquery-logo.png" alt="Card image cap">
	<div class="card-body">
	  <p class="card-text">jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. It is free, open-source software using the permissive MIT License. jQuery's syntax is designed to make it easier to navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications.</p>
	  <small class="text-muted">Developed by: jQuery Team</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: August 26, 2006</small>
	</div>
	<div class="techPercent" id="jquery"></div>
  </div>
  <div class="card col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
	<img class="card-img-top" src="./imgs/bootstrap-logo.png" alt="Card image cap">
	<div class="card-body">
	  <p class="card-text">Bootstrap is a free and open-source front-end library for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. Unlike many web frameworks, it concerns itself with front-end development only</p>
	  <small class="text-muted">Developed by: Mark Otto, Jacob Thornton</small>
	</div>
	<div class="card-footer">
	  <small class="text-muted">Initial Release: August 2011</small>
	</div>
	<div class="techPercent" id="bootstrap"></div>
  </div>
</div>
</div>
