<style>

</style>
<div id="container">
	<div id="accordion">
	  <div class="card">
	    <div class="card-header" id="headingOne">
	      <h5 class="mb-0" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	        <div >
	          <span><i class="fas fa-plus"></i></span> Daily Average
	        </div>
	      </h5>
	    </div>
	    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body">
	        En cours de consctruction...
	      </div>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h5 class="mb-0" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        <div >
	          <span><i class="fas fa-plus"></i></span> Weekly Average
	        </div>
	      </h5>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
	      <div class="card-body">
	        En cours de consctruction...
	      </div>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h5 class="mb-0" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	        <div >
	          <span><i class="fas fa-plus"></i></span> Monthly Average 
	        </div>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        En cours de consctruction...
	      </div>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-header" id="headingFour">
	      <h5 class="mb-0" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	        <div >
	          <span><i class="fas fa-plus"></i></span> Request Maintenance
	        </div>
	      </h5>
	    </div>
	    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
	      <div class="card-body">
	        En cours de consctruction...
	      </div>
	    </div>
	  </div>
	</div>
</div>
<script>
$(document ).ready(function() {

});
</script>
