<style>
#support-ticket {
	margin: 0px auto;
}
#support-ticket form {
	background: #BBDEFB;
	border-radius: 8px;
	border: 1px solid white;
}
#support-ticket form >div {
	margin: 15px 0px;
}
#support-ticket #ticket-submit {
	text-align: right;
	margin: 15px;
}
</style>
<div id="container">
	<div id="support-ticket" class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
		<form action="">
		<div style="text-align: right; cursor: pointer; color: gray; margin: 15px;"><span><i class="fas fa-times"></i></span></div>
			<div class="col-md-12">
		        <label for="select">Topic</label>
		        <select id="select" class="custom-select">
		        	<option value="general">General Topic</option>
		        	<option value="software">Sofware Issue</option>
		        	<option value="hardware">Hardware Issue</option>
		        </select>
		    </div>

		    <div class="col-md-12">
		        <label for="validationServer01">Email</label>
		        <input type="email" class="form-control" id="email" placeholder="Email Address" value="" required>
		        <div class="valid-feedback">
		          Looks good!
		        </div>
		        <div class="invalid-feedback">
		          Please provide a valid email.
		        </div>
		    </div>

		    <div class="col-md-12">
		        <label for="title">Title</label>
		        <input type="text" class="form-control" id="title" placeholder="Ticket Title" value="" required>
		        <div class="valid-feedback">
		          Looks good!
		        </div>
		        <div class="invalid-feedback">
		          Please provide a valid title.
		        </div>
		    </div>

		    <div class="col-md-12">
		        <label for="textarea">Description</label>
		        <textarea class="form-control" id="textarea" rows="7"></textarea>
		        <div class="valid-feedback">
		          Looks good!
		        </div>
		        <div class="invalid-feedback">
		          Please provide a description the issue your having.
		        </div>
		    </div>

		    <div id="ticket-submit">
		    	<input type="button" class="btn btn-primary mb-2" value="Submit">
		    </div>
		</form>
	</div>
</div>
<script>

$(document ).ready(function() {
	$("#support-ticket #email").val(user.email);
});
</script>
